/* 
    PE Tool's resource script
*/

#include "build.inc"

1 VERSIONINFO
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILEFLAGSMASK 0x3F
PRODUCTVERSION Major,Minor,Release
FILEVERSION Major,Minor,Release,Build
#ifdef Flags
  FILEFLAGS Flags
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Vladislav Javadov\0"
      VALUE "LegalCopyright", "Copyright © 2013-2018, 2020 Vladislav Javadov\0"
      VALUE "ProductName", "PE Tool\0"
      VALUE "FileDescription", "Portable executable (PE) rebuilding tool\0"
      VALUE "OriginalFilename", "Pet.exe\0"
      VALUE "ProductVersion", MajorStr "." MinorStr "." ReleaseStr "\0"
      VALUE "FileVersion", MajorStr "." MinorStr "." ReleaseStr "." BuildStr "\0"
      VALUE "Comments", CommitHash "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409 1200
  END
END