// ,---- CAT :-)
0xCA1 ICON "CatBox-32x32.ico"

#include "revision.inc"

1 VERSIONINFO
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILEFLAGSMASK 0x3F
PRODUCTVERSION 0,3,3,rev
FILEVERSION 0,3,3,rev
FILEFLAGS VS_FF_PRERELEASE 
  #ifdef debug | VS_FF_DEBUG #endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Vladislav Javadov\000"
      VALUE "LegalCopyright", "Copyright © 2013-2015 Vladislav Javadov\000"
      VALUE "ProductName", "PE Tool\000"
      VALUE "FileDescription", "Portable executable (PE) optimization tool\000"
      //VALUE "FileDescription", "Portable executable (PE) optimization and dumping tool\000"
      VALUE "OriginalFilename", "Pet.exe\000"
      VALUE "ProductVersion", "0.3.3\000"
      VALUE "FileVersion", "r" textrev "\000"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409 1252
  END
END