*.bat git-encoding=utf-8 working-tree-encoding=866
*.inc git-encoding=utf-8 working-tree-encoding=windows-1251
*.dfm git-encoding=utf-8 working-tree-encoding=windows-1251
*.dpk git-encoding=utf-8 working-tree-encoding=windows-1251
*.dpr git-encoding=utf-8 working-tree-encoding=windows-1251
*.pas git-encoding=utf-8 working-tree-encoding=windows-1251
*.rc  git-encoding=utf-8 working-tree-encoding=windows-1251